In [2]:
import pandas as pd
import sqlite3

con1 = sqlite3.connect("Students.db")
tablestud = pd.read_sql("SELECT * FROM Students",con1)
print (tablestud)
con2 = sqlite3.connect("teachers.db")
tablestud.to_sql("Students",con2, index = False)

   Student_id Student_name  School_id
0         201         Иван          1
1         202         Петр          2
2         203    Анастасия          3
3         204        Игорь          4

4

In [3]:
import sqlite3
def get_stud(student_id):
  con = sqlite3.connect("teachers.db")
  cur = con.cursor()
  query = """SELECT * FROM School JOIN Students ON School.School_id = Students.School_id WHERE Students.Student_id = ?"""
  cur.execute(query,(student_id,))
  rec = cur.fetchall()
  print (rec)

get_stud(201)

[(1, 'Протон', 200, 201, 'Иван', 1)]

In [7]:
import sqlite3

def get_school_name(school_id):
  con = sqlite3.connect("Schools.db")
  cur = con.cursor()
  query = "SELECT * FROM School WHERE School_Id = ?"
  cur.execute(query,(school_id,))
  rec = cur.fetchone()
  con.close()
  return rec[1]

def get_student(student_id):
  con = sqlite3.connect("Students.db")
  cur = con.cursor()
  query = "SELECT * FROM Students WHERE Student_id = ?"
  cur.execute(query,(student_id,))
  rec = cur.fetchall()
  for raw in rec:
    print ("ИД Студ", raw[0])
    print ("Имя студ", raw[1])
    print ("ИД школы", raw[2])
    print ("Название школы",get_school_name(raw[2]))
  con.close()

get_student(201)

ИД Студ 201
Имя студ Иван
ИД школы 1
Название школы Протон