In [206]:
import sqlite3

conn = sqlite3.connect('students.db')
cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS students (Student_Id INTEGER, Student_Name TEXT, School_Id INTEGER)")
students_data = [(201, 'Иван', 1), (202, 'Петр', 2), (203, 'Анастасия', 3), (204, 'Игорь', 4)]
cursor.executemany("INSERT INTO students VALUES (?, ?, ?)", students_data)
conn.commit()
def get_student_info(student_id):
    cursor.execute("SELECT * FROM students WHERE Student_Id=?", [student_id])
    student = cursor.fetchone()
    if student:
        print(f"ID студента: {student[0]}\nИмя студента: {student[1]}\nID школы: {student[2]}")
    else:
        print(f"Студента с ID {student_id} не найдено")
get_student_info(203)

ID студента: 203
Имя студента: Анастасия
ID школы: 3